{% paginate blog.articles by section.settings.number_of_blog_posts %}
    {% for article in blog.articles %}
        <div>
            {% if article.image %}
                <img src="{{ article.image | img_url: 'medium' }}" alt="{{ article.image.alt }}">
            {% else %}
                {{ "image" | placeholder_svg_tag: 'w-20' }}
            {% endif %}
            {{ article.title }}
            {% if article.excerpt.size > 0 %}
                {{ article.excerpt }}
            {% else %}
                <p>{{ article.content | strip_html | truncatewords: 15, '...' }}</p>
            {% endif %}
        </div>
    {% endfor %}
{% endpaginate %}

{% schema %}
    {
        "name": "Template Blog",
        "tag": "section",
        "settings": [
            {
                "type": "range",
                "step": 1,
                "min": 1,
                "max": 6,
                "id": "number_of_blog_posts",
                "label": "Blog posts per page",
                "default": "3"
            }
        ]
    }
{% endschema %}